body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: #e6dcdc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px #a39797;
}

#display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: right;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}